In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\dell\appdata\roaming\python\python310\site-packages (4.11.2)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\roaming\python\python310\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\roaming\python\python310\site-packages (from selenium) (0.10.3)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\roaming\python\python310\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\dell\appdata\roaming\python\python310\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\roaming\python\python310\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\roaming\python\python310\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [51]:
#question1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = 
#https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
#A) Rank 
#B) Name 
#C) Artist 
#D) Upload date 
#E) Views 

driver = webdriver.Chrome() 
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [52]:
Best_Videos = []
table = driver.find_element(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"]')

In [53]:
rows = table.find_elements(By.TAG_NAME, 'tr')

In [54]:
for row in rows[1:]: #skipping header row
    cells = row.find_elements(By.TAG_NAME, 'td')
    if len(cells) >= 5:
        rank = cells[0].text
        name = cells[1].text
        artist = cells[2].text
        upload_date = cells[4].text
        views = cells[3].text
        Best_Videos.append({"Rank": rank, "Name": name, "Artist": artist, "Date": upload_date,"Views": views})
    else:
        pass

In [55]:
df = pd.DataFrame(Best_Videos)
df

,Rank,Name,Artist,Date,Views
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.29
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.25
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.78
3,4.,"""Bath Song""[17]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.38
4,5.,"""Shape of You""[18]",Ed Sheeran,"January 30, 2017",6.07
5,6.,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",6.01
6,7.,"""Wheels on the Bus""[26]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.53
7,8.,"""Phonics Song with Two Words""[27]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.47
8,9.,"""Uptown Funk""[28]",Mark Ronson,"November 19, 2014",5.02
9,10.,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[29]",Miroshka TV,"February 27, 2018",4.96
10,11.,"""Gangnam Style""[30]",officialpsy,"July 15, 2012",4.88
11,12.,"""Masha and the Bear ‚Äì Recipe for Disaster""[35]",Get Movies,"January 31, 2012",4.56
12,13.,"""Dame Tu Cosita""[36]",Ultra Records,"April 5, 2018",4.43
13,14.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",4.04
14,15.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.93
15,16.,"""Counting Stars""[39]",OneRepublic,"May 31, 2013",3.86
16,17.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.86
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.76
18,19.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.71
19,20.,"""Sorry""[43]",Justin Bieber,"October 22, 2015",3.70
20,21.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.67
21,22.,"""Thinking Out Loud""[45]",Ed Sheeran,"October 7, 2014",3.65
22,23.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.58
23,24.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.54
24,25.,"""Perfect""[48]",Ed Sheeran,"November 9, 2017",3.53
25,26.,"""Faded""[49]",Alan Walker,"December 3, 2015",3.51
26,27.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.50
27,28.,"""Girls Like You""[51]",Maroon 5,"May 31, 2018",3.47
28,29.,"""Lean On""[52]",Major Lazer Official,"March 22, 2015",3.45
29,30.,"""Bailando""[53]",Enrique Iglesias,"April 11, 2014",3.45

In [ ]:
#question2. Scrape the details team India‚Äôs international fixtures from bcci.tv. 
#Url = https://www.bcci.tv/.
#You need to find following details: 
#A) Match title (I.e. 1 ODI) 
#B) Series 
#C) Place 
#D) Date 
#E) Time 
#Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [5]:
driver = webdriver.Chrome() 
driver.get('https://www.bcci.tv/.')

In [6]:
search = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]')
search.click()

In [7]:
Match_Title = []
title_tags=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in title_tags:
    title=i.text
    Match_Title.append(title)

In [18]:
len(Time)

8

In [9]:
Series = []
series_tags=driver.find_elements(By.XPATH,'//div[@class="match-card-middle__inner d-flex justify-content-between"]')
for i in series_tags:
    SERIES=i.text
    Series.append(SERIES)

In [15]:
Date = []
Dates_tags=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in Dates_tags:
    dates=i.text
    Date.append(dates)

In [17]:
Time = []
time_tags=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tags:
    Times=i.text
    Time.append(Times)

In [19]:
import pandas as pd
df = pd.DataFrame({'Title':Match_Title,'Series':Series,'Date':Date,'Time':Time})
df

,Title,Series,Date,Time
0,Quarter Final 1 -,India Women\nvs\nMalaysia Women,21 SEP 2023,6:30 AM IST
1,1st ODI -,India\nvs\nAustralia,22 SEP 2023,1:30 PM IST
2,2nd ODI -,India\nvs\nAustralia,24 SEP 2023,1:30 PM IST
3,3rd ODI -,India\nvs\nAustralia,27 SEP 2023,1:30 PM IST
4,1st ODI -,India\nvs\nEngland,30 SEP 2023,2:00 PM IST
5,1st T20I -,India\nvs\nTBD,3 OCT 2023,6:30 AM IST
6,2nd ODI -,India\nvs\nNetherlands,3 OCT 2023,2:00 PM IST
7,1st ODI -,India\nvs\nAustralia,8 OCT 2023,2:00 PM IST

In [25]:
#question3. Scrape the details of State-wise GDP of India from statisticstime.com. 
#Url = http://statisticstimes.com/
#You have to find following details: A)
#Rank 
#B) State 
#C) GSDP(18-19)- at current prices 
#D) GSDP(19-20)- at current prices 
#E) Share(18-19) 
#F) GDP($ billion) 
#Note: - From statisticstimes home page you have to reach to economy page through code.

driver = webdriver.Chrome() 
driver.get('http://statisticstimes.com/')

In [29]:
economy_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
economy_filter.click()

In [30]:
GDP_INDIA = []
table = driver.find_element(By.XPATH, '//table[@class="display dataTable"]')

In [31]:
rows = table.find_elements(By.TAG_NAME, 'tr')

In [47]:
for row in rows[1:]: #skipping header row
    cells = row.find_elements(By.TAG_NAME, 'td')
    if len(cells) >= 6:
        State = cells[1].text
        GSD = cells[3].text
        GSDP = cells[2].text
        Share = cells[4].text
        GDP = cells[5].text
        GDP_INDIA.append({"Rank": State, "Name": GSD, "Artist": GSDP, "Date": Share,"Views": GDP})
    else:
        pass

In [48]:
df = pd.DataFrame(GDP_INDIA)
df

,Rank,Name,Artist,Date,Views,State,GSD,GSDP,Share,GDP,States
0,Maharashtra,"2,632,792",-,13.94%,399.921,NaN,NaN,NaN,NaN,NaN,NaN
1,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629,NaN,NaN,NaN,NaN,NaN,NaN
2,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726,NaN,NaN,NaN,NaN,NaN,NaN
3,Gujarat,"1,502,899",-,7.96%,228.290,NaN,NaN,NaN,NaN,NaN,NaN
4,Karnataka,"1,493,127","1,631,977",7.91%,226.806,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
165,Nagaland,"27,283",-,0.14%,4.144,NaN,NaN,NaN,NaN,NaN,NaN
166,Arunachal Pradesh,"24,603",-,0.13%,3.737,NaN,NaN,NaN,NaN,NaN,NaN
167,Mizoram,"22,287","26,503",0.12%,3.385,NaN,NaN,NaN,NaN,NaN,NaN
168,Andaman & Nicobar Islands,-,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN
169,India,"18,886,957","20,351,013",,"2,869",NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd


from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.common.exceptions import TimeoutException

# Set up the WebDriver (Specify the path to your WebDriver)
driver = webdriver.Chrome()

# Navigate to the website
url = 'http://statisticstimes.com/'
driver.get(url)

# Click on 'Economy' in the top menu
try:
    economy_link = WebDriverWait(driver, 30).until(
        EC.presence_of_element_located((By.LINK_TEXT, 'Economy')))

    economy_link.click()
    
except TimeoutException:
    print("Timeout occurred while searching for the product.")
    
# Click on 'India' in the 'India/States' section
try:
    india_link = WebDriverWait(driver, 30).until(
        EC.presence_of_element_located((By.PARTIAL_LINK_TEXT, 'India/States')))
    india_link.click()
except TimeoutException:
    print("Timeout occurred while searching for the product.")
    
    

# Click on 'GDP of Indian states' in the 'GDP of Indian states' section
try:
    gdp_link = WebDriverWait(driver, 30).until(
        EC.presence_of_element_located((By.PARTIAL_LINK_TEXT, 'GDP of Indian states')))
    gdp_link.click()
except TimeoutException:
    print("Timeout occurred while searching for the product.")
    

# Scrape the data
data = []

# Wait for the table to load
try:
    table = WebDriverWait(driver, 30).until(
        EC.presence_of_element_located((By.CLASS_NAME, 'dataTables_wrapper')))
except TimeoutException:
    print("Timeout occurred while searching for the product.")
    
    
        

# Extract the table rows
rows = table.find_elements(By.TAG_NAME, 'tr')

for row in rows:
    cols = row.find_elements(By.TAG_NAME, 'td')
    if len(cols) >= 7:  # Ensure it's a data row
        rank = cols[0].text
        state = cols[1].text
        gsdp_18_19 = cols[2].text
        gsdp_19_20 = cols[3].text
        share_18_19 = cols[4].text
        gdp_billion = cols[5].text

        data.append({
            'Rank': rank,
            'State': state,
            'GSDP(18-19)': gsdp_18_19,
            'GSDP(19-20)': gsdp_19_20,
            'Share(18-19)': share_18_19,
            'GDP($ billion)': gdp_billion
        })
        
    else:
        pass

# Create a DataFrame
df = pd.DataFrame(data)

# Print the scraped data
print(df)

# Close the WebDriver

Timeout occurred while searching for the product.
Timeout occurred while searching for the product.
Timeout occurred while searching for the product.

NameError: name 'table' is not defined

In [18]:
#question 4 Scrape the details of trending repositories on Github.com. 
#Url = https://github.com/
#You have to find the following details: 
#A) Repository title 
#B) Repository description 
#C) Contributors count 
#D) Language used 

driver = webdriver.Chrome()
driver.get('https://github.com/trending')

In [19]:
repo_titles = []
Repo_titles=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in Repo_titles:
    title=i.text
    repo_titles.append(title)

In [20]:
Repository_description = []
description_titles=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in description_titles:
    define=i.text
    Repository_description.append(define)

In [38]:
import pandas as pd
df = pd.DataFrame({'Repository Title':repo_titles,'Repository description':Repository_description})
df

       Repository Title                             Repository description
0             krahets /  „ÄäHello ÁÆóÊ≥ï„ÄãÔºöÂä®ÁîªÂõæËß£„ÄÅ‰∏ÄÈîÆËøêË°åÁöÑÊï∞ÊçÆÁªìÊûÑ‰∏éÁÆóÊ≥ïÊïôÁ®ãÔºåÊîØÊåÅ Java, C++, P...
1              mylxsw /  AIdea ÊòØ‰∏ÄÊ¨æÊîØÊåÅ GPT ‰ª•ÂèäÂõΩ‰∫ßÂ§ßËØ≠Ë®ÄÊ®°ÂûãÈÄö‰πâÂçÉÈóÆ„ÄÅÊñáÂøÉ‰∏ÄË®ÄÁ≠âÔºåÊîØÊåÅ Stable ...
2             oven-sh /  Incredibly fast JavaScript runtime, bundler, t...
3            linkedin /  At LinkedIn, we are using this curriculum for ...
4             dair-ai /                  Explanation to key concepts in ML
5         Developer-Y /  List of Computer Science courses with video le...
6           microsoft /  24 Lessons, 12 Weeks, Get Started as a Web Dev...
7              mylxsw /  AIdea ÊòØ‰∏ÄÊ¨æÊîØÊåÅ GPT ‰ª•ÂèäÂõΩ‰∫ßÂ§ßËØ≠Ë®ÄÊ®°ÂûãÈÄö‰πâÂçÉÈóÆ„ÄÅÊñáÂøÉ‰∏ÄË®ÄÁ≠âÔºåÊîØÊåÅ Stable ...
8    eduard-permyakov /     A fully lock-free game engine written in C++20
9       ryanmcdermott /       üõÅ Clean Code concepts adapted for JavaScript
10           Ironclad /  The open-source visual AI programming environm...
11         Snoopy1866 /                                           ÊùéË∑≥Ë∑≥Ëá™ÂÆö‰πâËßÑÂàô
12           trekhleb /  üìù Algorithms and data structures implemented i...
13          modularml /                      The Mojo Programming Language
14          microsoft /  Build high-quality LLM apps - from prototyping...
15             honojs /              Ultrafast web framework for the Edges
16            wagtail /  A Django content management system focused on ...
17      tencent-ailab /  The image prompt adapter is designed to enable...
18            w-okada /             „É™„Ç¢„É´„Çø„Ç§„É†„Éú„Ç§„Çπ„ÉÅ„Çß„É≥„Ç∏„É£„Éº Realtime Voice Changer
19             guoyww /            Official implementation of AnimateDiff.
20        uNetworking /  Simple, secure & standards compliant web serve...
21  openai-translator /  Âü∫‰∫é ChatGPT API ÁöÑÂàíËØçÁøªËØëÊµèËßàÂô®Êèí‰ª∂ÂíåË∑®Âπ≥Âè∞Ê°åÈù¢Á´ØÂ∫îÁî® - Browser e...
22          squidfunk /                    Documentation that simply works
23               ossu /  üéì Path to a free self-taught education in Comp...
24      DataTalksClub /  The code from the Machine Learning Bookcamp bo...

In [3]:
#QUESTION5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
#You have to find the following details: 
#A) Song name 
#B) Artist name 
#C) Last week rank 
#D) Peak rank 
#E) Weeks on board 
#Note: - From the home page you have to click on the charts option then hot 100-page link through code.
    
driver = webdriver.Chrome()
driver.get('https:/www.billboard.com/')

In [4]:
chart_filter = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
chart_filter.click()

In [7]:
view_filter = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
view_filter.click()

In [8]:
Best_songs = []
table = driver.find_element(By.XPATH, '/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]')

In [9]:
rows = table.find_elements(By.TAG_NAME, 'div')

In [10]:
for row in rows[1:]: #skipping header row
    cells = row.find_elements(By.TAG_NAME, 'li')
    if len(cells) >= 5:
        rank = cells[0].text
        song_name = cells[1].text
        last_week_rank = cells[3].text
        peak_rank = cells[4].text
        weeks_on_board = cells[5].text
        Best_songs.append({"Rank": rank, "Name": song_name, "Last week": last_week_rank, "peak": peak_rank,"Weeks on board": weeks_on_board})
    else:
        pass

In [11]:
df = pd.DataFrame(Best_songs)
df

,Rank,Name,Last week,peak,Weeks on board
0,1,,Vampire\nOlivia Rodrigo\n9\n1\n11,Vampire\nOlivia Rodrigo,
1,2,,Paint The Town Red\nDoja Cat\n1\n1\n6,Paint The Town Red\nDoja Cat,
2,3,,I Remember Everything\nZach Bryan Featuring Ka...,I Remember Everything\nZach Bryan Featuring Ka...,
3,4,,Fast Car\nLuke Combs\n3\n2\n25,Fast Car\nLuke Combs,
4,5,,Cruel Summer\nTaylor Swift\n4\n3\n19,Cruel Summer\nTaylor Swift,
...,...,...,...,...,...
95,96\nRE- ENTRY,,Lagunas\nPeso Pluma & Jasiel Nunez\n-\n77\n9,Lagunas\nPeso Pluma & Jasiel Nunez,
96,97,,Sittin' On Top Of The World\nBurna Boy\n86\n80\n3,Sittin' On Top Of The World\nBurna Boy,
97,98,,Rubicon\nPeso Pluma\n95\n63\n11,Rubicon\nPeso Pluma,
98,99,,TQM\nFuerza Regida\n89\n34\n17,TQM\nFuerza Regida,
99,100,,Amargura\nKarol G\n91\n85\n5,Amargura\nKarol G,

In [ ]:
#question6. Scrape the details of Highest selling novels. 
#compare 
#A) Book name 
#B) Author name 
#C) Volumes sold 
#D) Publisher 
#E) Genre 
#Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-

In [4]:

driver = webdriver.Chrome() 
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [5]:
Best_Novel = []
table = driver.find_element(By.XPATH, '//table[@class="in-article sortable"]')

In [6]:
rows = table.find_elements(By.TAG_NAME, 'tr')

In [9]:
for row in rows[1:]: #skipping header row
    cells = row.find_elements(By.TAG_NAME, 'td')
    if len(cells) >= 5:
        rank = cells[0].text
        book_name = cells[1].text
        author_name = cells[2].text
        volumes_sold = cells[3].text
        publisher = cells[4].text
        genre = cells[5].text
        Best_Novel.append({"Rank": rank, "BOOK_NAME": book_name, "Author": author_name, "Volume": volumes_sold,"Publisher": publisher,"Genre":genre})
    else:
        pass

In [10]:
df = pd.DataFrame(Best_Novel)
df

,Rank,BOOK_NAME,Author,Volume,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [31]:
#QUESTIO7. Scrape the details most watched tv series of all time from imdb.com. 
#Url = https://www.imdb.com/list/ls095964455/ You 
#have to find the following details: 
#A) Name 
#B) Year span 
#C) Genre 
#D) Run time 
#E) Ratings 
#F) Votes

In [8]:
driver = webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls095964455/')

In [11]:
Name = []
name_titles=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
for i in name_titles:
    names=i.text
    Name.append(names)

In [29]:
len(votes)

0

In [13]:
Year = []
year_titles=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in year_titles:
    years=i.text
    Year.append(years)

In [15]:
genre = []
genres_titles=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genres_titles:
    Genre=i.text
    genre.append(Genre)

In [17]:
runtimes = []
Time_titles=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in Time_titles:
    Times=i.text
    runtimes.append(Times)

rating = []
rating_titles=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in rating_titles:
    Ratings=i.text
    rating.append(Ratings)

In [30]:
df = pd.DataFrame({'Name':Name,'year_spans':Year,'Genre':genre,'Run time':runtimes,'Ratings':rating})
df

,Name,year_spans,Genre,Run time,Ratings
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama",57 min,9.2
1,Stranger Things,(2016‚Äì2025),"Drama, Fantasy, Horror",51 min,8.7
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.1
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6
...,...,...,...,...,...
95,Reign,(2013‚Äì2017),Drama,42 min,7.5
96,A Series of Unfortunate Events,(2017‚Äì2019),"Adventure, Comedy, Drama",50 min,7.8
97,Criminal Minds,(2005‚Äì ),"Crime, Drama, Mystery",42 min,8.1
98,Scream: The TV Series,(2015‚Äì2019),"Comedy, Crime, Drama",45 min,7
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6

In [32]:
#question8. Details of Datasets from UCI machine learning repositories. 
#Url = https://archive.ics.uci.edu/
#You have to find the following details: 
#A) Dataset name 
#B) Data type 
#C) Task 
#D) Attribute type 
#E) No of instances 
#F) No of attribute G) Year 
#Note: - from the home page you have to go to the Show All Dataset page through code

In [12]:
driver = webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [13]:
search = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
search.click()

In [14]:
dataset_name = []
name_tags=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in name_tags:
    Names=i.text
    dataset_name.append(Names)

In [22]:
import pandas as pd

In [21]:
len(data_types)

1

In [18]:
tasks = []
task_tags=driver.find_elements(By.XPATH,'//p[@class="truncate"]')
for i in task_tags:
    TASK=i.text
    tasks.append(TASK)

In [24]:
import pandas as pd
df = pd.DataFrame({'Dataset Name':dataset_name, 'Tasks':tasks})
df

,Dataset Name,Tasks
0,: Simulated Data set of Iraqi tourism places,Simulated Data set of Iraqi tourism places wit...
1,181 early modern English plays: Transcriptions...,"English plays (1585-1610), transcribed from ea..."
2,2.4 GHZ Indoor Channel Measurements,"Measurement of the S21,consists of 10 sweeps, ..."
3,2D elastodynamic metamaterials,This dataset list the location and width of th...
4,"3D Road Network (North Jutland, Denmark)",3D road network with highly accurate elevation...
5,3W dataset,The first realistic and public dataset with ra...
6,9mers from cullpdb,The dataset consists of protein fragments of l...
7,A study of Asian Religious and Biblical Texts,"Mainly from Project Gutenberg, we combine Upan..."
8,AAAI 2013 Accepted Papers,This data set compromises the metadata for the...
9,AAAI 2014 Accepted Papers,This data set compromises the metadata for the...